name: refract

services:
  frontend:
    container_name: refract-frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
      additional_contexts:
        root: .
    environment:
      - PORT=${VITE_PORT}
    restart: always
    ports:
      - 4000:${VITE_PORT}
    depends_on:
      - postgres
      - valkey

  postgres:
    container_name: refract-postgres
    image: timescale/timescaledb:latest-pg18
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5

  valkey:
    container_name: valkey
    image: valkey/valkey:9-alpine
    ports:
      - "6379:6379"
    volumes:
      - valkey_data:/data
    healthcheck:
      test: ["CMD", "valkey-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 3

volumes:
  postgres_data:
    driver: local
  valkey_data:
    driver: local
