name: refract

services:
  frontend:
    container_name: refract-frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
    env_file:
      - .env
      - ./frontend/.env
    environment:
      - CHOKIDAR_USEPOLLING=true
      - NODE_ENV=development
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/refract
    volumes:
      - ./frontend:/app
      - /app/node_modules
    develop:
      watch:
        - path: ./frontend
          action: sync
          target: /app
          initial_sync: true
          ignore:
            - node_modules
        - path: ./frontend/package.json
          action: rebuild

  api:
    container_name: refract-api
    build:
      context: ./api
      dockerfile: Dockerfile.dev
    ports:
      - "8080:8080"
    env_file:
      - .env
      - ./api/.env
    volumes:
      - ./api:/app
    depends_on:
      - postgres

  postgres:
    container_name: refract-postgres
    image: postgres:18-alpine
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql
    restart: always

volumes:
  pgdata:
