http://{$ADMIN_BASE_URL:localhost} {
	handle_path /server/api/* {
		reverse_proxy refract-api:8080
	}

	reverse_proxy refract-frontend:3000
}

http://{$DEFAULT_BASE_URL:localhost:4000} {
	reverse_proxy refract-redirector:4000
}